.flex-box-container-one {
  border: 1px solid black;
  display: flex;
  padding: 10px;
  justify-content: space-around;
  flex: wrap;
}
.flex-box-container-one div {
  display: flex;
  padding: 10px;
  align-items: center;
  border: 1px solid black;
}
